// Specific CSS for your home-page

body {
  background-color: $gray;
}

#about {
  h2 {
    font-family: $lobster;
    font-size: 60px;
    color: $blue;
  }
}

#project-title {
    font-size: 60px;
    font-family: $lobster;
    color: $blue;
}

#project-name {
  font-size: 20px;
}

// smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
    .card-product {
      flex-direction: column;
      height: auto;
      width: 100%;
    }

    .card-product img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }

   #contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .avatar-large {
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .avatar-large {
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .title-main {
    text-align: center;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card-product {
      flex-direction: column;
      height: auto;
      width: 100%;
  }

  .card-product img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .card-product {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .card-product img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
