// Specific CSS for your home-page

body {
  background-color: $gray;
}

#about {
  h2 {
    font-family: $lobster;
    font-size: 60px;
    color: $blue;
  }
}

#project-title {
    font-size: 60px;
    font-family: $lobster;
    color: $blue;
}

#project-name {
  font-size: 20px;
}

.card-product {
  width: 550px;
  height: 150px;
}


// smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #banner-container {
    img.avatar-large {
      margin-left: 150px;
    }
    .title-main {
      white-space: nowrap;
      text-align: center;
    }
  }
    .cards {
      grid-template-columns: 1fr;
    }

    .card-product {
      flex-direction: column;
      height: auto;
    }

    .card-product img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }

   #about p {
    width: 500px;
   }

   #contact {
    margin-left: 180px;
   }
}


// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #banner-container {
    img.avatar-large {
      margin-left: 400px;
    }
    .title-main {
      white-space: nowrap;
      margin-left: 300px;
    }
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card-product {
    // flex-direction: column;
    height: auto;
    margin-left: 0;
  }
   #about {
    p {
      width: 1000px;
    }
   }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
